name: (Shared) Lint

on:
  push:
    branches: [main]
  pull_request:

permissions: {}

concurrency:
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  check_license:
    name: Check license
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Make script executable
        run: chmod +x ./scripts/ci/check_license.sh
      - run: ./scripts/ci/check_license.sh
